*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: calc(.5em + .5vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

.header-container__logo {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.social {
  position: relative;
  z-index: 50;
}

.social__item:hover img {
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  -webkit-box-shadow: 0 0 14px 7px #6d63ff4b;
          box-shadow: 0 0 14px 7px #6d63ff4b;
  background-color: #6d63ff48;
  border-radius: 5px;
}

.social__item:not(:first-child) {
  margin-left: .5em;
}

@media (max-width: 425px) {
  .social__item img {
    max-width: 25px;
  }
}

.btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
}

.btn-container__main-btn {
  padding: 1em 4em;
  border-radius: 2em;
  border: 1px solid #6d63ff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: .3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.15rem;
}

.btn-container__main-btn:hover {
  background-color: #6d63ff25;
}

.btn-container__main-btn:last-child {
  margin-left: 2em;
}

@media (max-width: 768px) {
  .btn-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 425px) {
  .btn-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-container__main-btn {
    font-size: 1rem;
    padding: 1em 3.5em;
  }
}

.page-1 {
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  height: 100%;
  border-bottom: 5px solid #6d63ff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__descr {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: .75em;
  letter-spacing: .3px;
}

.main__descr span {
  position: relative;
}

.main__descr span::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main__descr span:hover {
  cursor: pointer;
}

.main__descr span:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main__h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.main__item img {
  max-width: 530px;
  position: absolute;
  right: 10%;
  top: 0;
  max-height: 100%;
}

.main__item:first-child {
  margin-top: 8em;
  position: relative;
  z-index: 10;
}

.brand-opacity {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.041);
  margin-top: .3em;
}

@media (max-width: 1000px) {
  .main__item img {
    right: 5%;
  }
}

@media (min-width: 1440px) {
  .main__item img {
    max-width: 900px;
    right: 18%;
  }
  .brand-opacity {
    font-size: 6.8rem;
  }
}

@media (max-width: 850px) {
  .brand-opacity {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__item img {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
  }
  .main__item:first-child {
    margin-top: -100px;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 570px) {
  .main__h1 {
    font-size: 3rem;
  }
  .brand-opacity {
    font-size: 4.5rem;
  }
}

@media (max-width: 425px) {
  .brand-opacity {
    font-size: 4rem;
  }
}

@media (max-width: 375px) {
  .brand-opacity {
    font-size: 3.4rem;
  }
  .main__h1 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */